html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  padding: 12px 6px;
  background: $c-body-bg;
  font-family: $f-family-1;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
