.article-card {
  margin: 0 auto;
  max-width: 600px;
}

  .article-snippet-container {
    padding-bottom: 20px;
    background: $c-article-bg;
    border-radius: $d-border-radius;
    box-shadow: 0 -1px 4px 0 rgba($c-black, .09);
    cursor: pointer;
  }

    .article-snippet-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .article-snippet-logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 5px 10px;
    }

    .article-snippet-logo {
      margin-right: auto;
    }

    .article-snippet-price {
      font-size: $f-size-3;
      color: $c-article-snippet-price;
      -webkit-font-smoothing: antialiased;
    }

    .article-snippet-more {
      padding: 0 10px;
      height: 44px;
      background: $c-article-snippet-more-bg;
      border: 0;
      border-left: 1px solid $c-article-snippet-more-border;
      cursor: pointer;

      &:hover .article-snippet-more-image-circles,
      &:active .article-snippet-more-image-circles {
        fill: $c-article-snippet-more-image-hover;
      }
    }

      .article-snippet-more-image {
        margin-bottom: 3px;
      }

        .article-snippet-more-image-circles {
          fill: $c-article-snippet-more-image;
        }

  .article-snippet-photo {
    width: 100%;
  }

  .article-snippet-heading {
    padding: 15px;
    font-weight: 700;
    font-size: $f-size-5;
    text-transform: uppercase;
    line-height: 1;
    color: $c-article-snippet-subheading;
    -webkit-font-smoothing: antialiased;

    @include fonts-loaded-family($f-family-2);
  }

  .article-snippet-subheading {
    padding: 0 15px;
    font-weight: 900;
    font-size: $f-size-7;
    text-transform: uppercase;
    line-height: 1;
    color: $c-article-snippet-heading;
    -webkit-font-smoothing: antialiased;

    @include fonts-loaded-family($f-family-2);
  }

  .article-snippet-paragraph-container {
    position: relative;
    padding: 15px;
    max-height: 135px;
    overflow: hidden;
    font-weight: 500;
    font-size: $f-size-5;
    line-height: 1;
    color: $c-article-snippet-paragraph;
    -webkit-font-smoothing: antialiased;

    @include fonts-loaded-family($f-family-3);
  }

    .article-snippet-paragraph-overlay {
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $c-article-snippet-paragraph-overlay-1 0%, $c-article-snippet-paragraph-overlay-2 100%);
    }
