.article-reader {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $c-article-reader-bg;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.75);
    transition: transform .2s, opacity .2s, visibility 0s .2s;
}

.article-reader.is-visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform .4s, opacity .4s;
}

.article-reader.no-display {
    display: none;
}

.article-reader.no-scroll {
    overflow: hidden;
}

.article-reader-logo-container {
    margin: 5px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -55px;
    margin-right: -55px;
}

.article-reader-logo {
    display: block;
}

    .article-reader-logo-info {
        margin-top: -5px;
        padding: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $c-article-reader-logo-info;
        font-size: $f-size-1;
        font-weight: 300;
        text-align: center;
        text-transform: lowercase;
        background: $c-article-reader-logo-info-bg;
        -webkit-font-smoothing: antialiased;

        @include fonts-loaded-family($f-family-1);
    }

.article-reader-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-reader-options-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid $c-article-reader-options-border;

    @media (min-width: $mq-small) {
        border-bottom: 0;
    }
}

.article-reader-options {
    display: flex;
    align-content: center;
}

    .article-reader-options-item {
        align-self: center;
        padding: 15px;
        min-width: 48px;
        min-height: 44px;
        background-size: 30%;

        &:not(:nth-child(n+3)) {
            border-right: 1px solid $c-article-reader-options-border;
        }
    }

    .article-reader-options-item.close-button {
        background: url(../img/close.svg) no-repeat 50% 50%;
    }

    .article-reader-options-item.pin-button {
        background: url(../img/pin.svg) no-repeat 50% 50%;
    }

    .article-reader-options-item.more-button {
        display: none;
        background: url(../img/more.svg) no-repeat 50% 50%;

        @media (min-width: $mq-medium) {
            display: block;
        }
    }

    .article-reader-options-item.close-button {
        cursor: pointer;
    }

        .article-reader-options-item-close-button {
            border: 0;
            background: $c-article-reader-options-item-close-button;
            cursor: pointer;
        }

.article-share-options {
    display: none;
    align-content: center;

    @media (min-width: $mq-small) {
        display: flex;
    }
}

    .article-share-options-item {
        align-self: center;
        padding: 15px;
        min-width: 48px;
        min-height: 44px;
        background-size: 30%;
        cursor: pointer;

        &:first-child {
            border-left: 1px solid $c-article-reader-options-border;
        }

        &:not(:last-child) {
            border-right: 1px solid $c-article-reader-options-border;
        }

        @each $item in $social-networks {
            &.share-#{$item} {
                background: url('../img/share-#{$item}.svg') no-repeat 50% 50%;
            }
        }
    }

.refund-link {
    display: none;
    margin-right: auto;
    align-self: center;
    padding: 15px;
    text-align: center;
    font-size: $f-size-3;
    color: $c-refund-link;
    -webkit-font-smoothing: antialiased;

    @include fonts-loaded-family($f-family-1);

    @media (min-width: $mq-medium) {
        display: block;
    }
}

    .refund-link-bold {
        font-weight: 700;
    }

.article-reader-photo {
    width: 100%;
}

.article-reader-heading {
    padding: 15px 20px;
    font-weight: 700;
    font-size: $f-size-6;
    text-transform: uppercase;
    line-height: 1.07;
    color: $c-article-snippet-subheading;
    -webkit-font-smoothing: antialiased;

    @include fonts-loaded-family($f-family-2);

    @media (min-width: $mq-small) {
        padding: 0;
        margin: 70px auto 0;
        max-width: 600px;
        font-size: $f-size-7;
    }
}

.article-reader-subheading {
    padding: 0 15px;
    font-weight: 900;
    font-size: $f-size-8;
    text-transform: uppercase;
    line-height: 1;
    color: $c-article-snippet-heading;
    -webkit-font-smoothing: antialiased;

    @include fonts-loaded-family($f-family-2);

    @media (min-width: $mq-small) {
        padding: 0;
        margin: 5px auto 12px;
        max-width: 600px;
        font-size: $f-size-9;
    }
}

.article-reader-paragraph-container {
    padding: 15px;

    @media (min-width: $mq-small) {
        padding: 0;
        margin: 0 auto;
        max-width: 600px;
        font-size: $f-size-9;
    }
}

    .article-reader-heading-paragraph {
        padding: 15px 0;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.15;
        color: $c-article-snippet-paragraph;
        -webkit-font-smoothing: antialiased;

        @include fonts-loaded-family($f-family-3);

        @media (min-width: $mq-small) {
            padding: 0;
            margin: 25px auto 45px;
        }
    }

    .article-reader-author {
        margin: 5px 0;
        font-size: 18px;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;

        @include fonts-loaded-family($f-family-3);
    }

    .article-reader-paragraph {
        margin: 0 0 40px;
        font-size: $f-size-5;
        line-height: 1.42;
        color: $c-article-reader-paragraph;
        -webkit-font-smoothing: antialiased;

        @include fonts-loaded-family($f-family-4);
    }

    .article-reader-paragraph + .article-reader-paragraph {
        margin: 0 0 20px;
    }

        .article-reader-smallheading {
            font-size: 22px;
            color: $c-article-reader-smallheading;
            -webkit-font-smoothing: antialiased;

            @include fonts-loaded-family($f-family-3);
        }

        .article-reader-paragraph-image {
            display: block;
            margin: 25px 0 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
